body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#2fbdff,#ff7582);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#options {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    background:linear-gradient(#9f025e,#f9c929);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff7889;
}